<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hogwarts</title>
    <h1>Welcome to Hogwarts!</h1>

<img src="https://i.ya-webdesign.com/images/hogwarts-banner-png-3.png" alt="Main Banner">

</head>

  <link rel="stylesheet" href="/style.css">
<body>

<nav>

  <table align="centers">
	<tr>
		<td><a href="/hogwarts/students">All students</a></td>
		<td><a href="/hogwarts/new">Get enrolled</a></td>
	</tr>
</table>



</nav>

    <%= yield %>
  </body>
</html>
